name: Newfile Runner

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  run-newfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install "urllib3<2"
          pip install requests beautifulsoup4 phonenumbers APScheduler pytz
          pip install python-telegram-bot==13.15

      - name: Run newfile.py
        run: |
          python newfile.py
